[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=forking
User=discourse
WorkingDirectory=/var/www/discourse
Environment=RAILS_ENV=production

PIDFile=/home/discourse/discourse/tmp/pids/puma.pid
ExecStart=/bin/bash -c 'source /usr/local/rvm/scripts/rvm; bundle exec puma -e production'
ExecStop=/bin/bash -c 'source /usr/local/rvm/scripts/rvm; bundle exec pumactl stop'
ExecReload=/bin/bash -c 'source /usr/local/rvm/scripts/rvm; bundle exec pumactl phased-restart'
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target

