apiVersion: v1
kind: Service
metadata:
  name: $APP_INSTANCE_NAME-alertmanager
  labels:
    k8s-app: alertmanager
    app.kubernetes.io/name: $APP_INSTANCE_NAME
    app.kubernetes.io/component: alertmanager
spec:
  ports:
    - name: http
      port: 9093
      protocol: TCP
      targetPort: 9093
  selector:
    k8s-app: alertmanager
  type: "ClusterIP"
