---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-mariadb-secret
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: drupal-mariadb
type: Opaque
data:
  drupal-user: {{ .Values.db.drupalUser | b64enc | quote }}
  root-password: {{ .Values.db.rootPassword | b64enc | quote }}
  drupal-password: {{ .Values.db.drupalPassword | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-mysqld-exporter-secret
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: drupal-mysql
stringData:
  mysqld_exporter.sql: |
    CREATE USER IF NOT EXISTS '{{ .Values.db.exporter.user }}'@'127.0.0.1' IDENTIFIED BY '{{ .Values.db.exporter.password }}' WITH MAX_USER_CONNECTIONS 3;
    # https://dev.mysql.com/doc/refman/5.6/en/grant.html
    GRANT PROCESS, REPLICATION CLIENT, SLAVE MONITOR, SELECT ON *.* TO '{{ .Values.db.exporter.user }}'@'127.0.0.1';
    FLUSH PRIVILEGES;
data:
  mysqld-exporter-pass: {{ .Values.db.exporter.password | b64enc | quote }}
