# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


cloudbuild:
  enable_parallel: false
versions:
- dir: 15/debian10/15.1
  from: marketplace.gcr.io/google/debian10
  packages:
    gitlab:
      version: 15.1.0
  repo: gitlab15
  tags:
  - 15.1.0-debian10
  - 15.1-debian10
  - 15-debian10
  - 15.1.0
  - '15.1'
  - '15'
  - latest
- dir: 14/debian10/14.10
  from: marketplace.gcr.io/google/debian10
  packages:
    gitlab:
      version: 14.10.4
  repo: gitlab14
  tags:
  - 14.10.4-debian10
  - 14.10-debian10
  - 14-debian10
  - 14.10.4
  - '14.10'
  - '14'
  - latest
- dir: 14/debian10/14.8
  from: marketplace.gcr.io/google/debian10
  packages:
    gitlab:
      version: 14.8.6
  repo: gitlab14
  tags:
  - 14.8.6-debian10
  - 14.8-debian10
  - 14.8.6
  - '14.8'
- dir: 13/debian10/13.12
  from: marketplace.gcr.io/google/debian10
  packages:
    gitlab:
      version: 13.12.15
  repo: gitlab13
  tags:
  - 13.12.15-debian10
  - 13.12-debian10
  - 13-debian10
  - 13.12.15
  - '13.12'
  - '13'
  - latest

