x-google-marketplace:
  schemaVersion: v2

  applicationApiVersion: v1beta1

  publishedVersion: "$TAG"
  publishedVersionMetadata:
    releaseNote: >-
      A regular update.
    releaseTypes:
      - Feature
    recommended: false

  images:
    '':
      properties:
        neo4j.image.repo:
          type: REPO_WITH_REGISTRY
        neo4j.image.tag:
          type: TAG

properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE
  neo4j.persistence.storageClass:
    type: string
    title: StorageClass
    description: You can choose an existing StorageClass or create a new one.
    x-google-marketplace:
      type: STORAGE_CLASS
      storageClass:
        type: SSD
  neo4j.persistence.size:
    type: string
    title: Storage size for persistent volumes
    default: "10Gi"
    description: Neo4j storage size
    pattern: '^[1-9][0-9]*(\.[0-9]+)?[TGM]i?$'
  neo4j.password:
    type: string
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 10
        includeSymbols: False
        base64: False

required:
- name
- namespace
- neo4j.persistence.size
- neo4j.password
