spec:
  updateStrategy:
    type: RollingUpdate
  template:
    spec:
      containers:
      - name: elasticsearch
        volumeMounts:
        - mountPath: /usr/share/elasticsearch/backup
          name: backup
      volumes:
      - name: backup
        persistentVolumeClaim:
          claimName: $APP_INSTANCE_NAME-nfs