# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

versions:
  - dir: '0/0.59'
    repo: prometheus-operator0
    tags:
      - '0.59.1-debian11'
      - '0.58.1'
      - '0.59-debian11'
      - '0.59'
      - '0-debian11'
      - '0'
      - 'latest'
    from: marketplace.gcr.io/google/debian11
    packages:
      prometheus-operator:
        version: '0.59.0'
  - dir: '0/0.54'
    repo: prometheus-operator0
    tags:
      - '0.54.0-debian11'
      - '0.54.0'
      - '0.54-debian11'
      - '0.54'
    from: marketplace.gcr.io/google/debian11
    packages:
      prometheus-operator:
        version: '0.54.0'
cloudbuild:
  enable_parallel: false
