---
apiVersion: apps/v1beta2
kind: StatefulSet
metadata:
  name: $APP_INSTANCE_NAME-nginx
  labels: &NginxDeploymentLabels
    app.kubernetes.io/name: $APP_INSTANCE_NAME
    app.kubernetes.io/component: nginx-server
spec:
  selector:
    matchLabels: *NginxDeploymentLabels
  updateStrategy:
    type: RollingUpdate
  serviceName: $APP_INSTANCE_NAME-nginx-svc
  replicas: $REPLICAS
  volumeClaimTemplates:
  - metadata:
      name: $APP_INSTANCE_NAME-nginx-pvc
      labels: *NginxDeploymentLabels
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: standard
      resources:
        requests:
          storage: 1Gi
  template:
    metadata:
      labels: *NginxDeploymentLabels
    spec:
      terminationGracePeriodSeconds: 180
      initContainers:
      # This init container is reponsible for creating default index html file
      - name: initialize-nginx
        image: launcher.gcr.io/google/debian9:latest
        imagePullPolicy: Always
        command:
        - /bin/bash
        - -euc
        - |
          cat <<EOF >/usr/share/nginx/html/index.html
          <!DOCTYPE>
          <html>
            <head>
              <title>Web Server Application</title>
            </head>
            <body>
               <h1>Web site powered by NGINX</h1>
               <p>This page is under construction. Please come back soon!</p>
            </body>
          </html>
          EOF
        volumeMounts:
        - name: $APP_INSTANCE_NAME-nginx-pvc
          mountPath: /usr/share/nginx/html
      containers:
      - name: nginx
        image: $IMAGE_NGINX
        imagePullPolicy: Always
        ports:
        - name: nginx
          containerPort: 80
          protocol: TCP
        - name: nginx-https
          containerPort: 443
          protocol: TCP
        livenessProbe:
          tcpSocket:
            port: nginx
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          tcpSocket:
            port: nginx
          initialDelaySeconds: 10
          timeoutSeconds: 5
        volumeMounts:
        - name: $APP_INSTANCE_NAME-nginx-pvc
          mountPath: /usr/share/nginx/html
        - name: nginx-config
          mountPath: /etc/nginx/conf.d
          readOnly: true
        - name: certs
          mountPath: /etc/nginx/certs
          readOnly: true
      volumes:
      - name: certs
        secret:
          secretName: $APP_INSTANCE_NAME-nginx-secret
      - name: nginx-config
        configMap:
          name: $APP_INSTANCE_NAME-nginx-configmap
          items:
          - key: nginx-config.conf
            path: nginx-config.conf
---
apiVersion: v1
kind: Service
metadata:
  name: $APP_INSTANCE_NAME-nginx-svc
  labels:
    app.kubernetes.io/name: $APP_INSTANCE_NAME
    app.kubernetes.io/component: nginx-server
spec:
  ports:
  - name: nginx-http-port
    port: 80
    protocol: TCP
  - name: nginx-https-port
    port: 443
    protocol: TCP
  selector:
    app.kubernetes.io/name: $APP_INSTANCE_NAME
    app.kubernetes.io/component: nginx-server
  type: LoadBalancer
