# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


cloudbuild:
  enable_parallel: false
versions:
- dir: 23/debian11/23.0
  from: marketplace.gcr.io/google/c2d-debian11
  packages:
    h2database:
      version: 1.4.197
    keycloak:
      version: 23.0.5
    sshdcommon:
      version: 2.9.2
  repo: keycloak23
  tags:
  - 23.0.5-debian11
  - 23.0-debian11
  - 23-debian11
  - 23.0.5
  - '23.0'
  - '23'
  - latest
- dir: 22/debian11/22.0
  from: marketplace.gcr.io/google/c2d-debian11
  packages:
    h2database:
      version: 1.4.197
    keycloak:
      version: 22.0.5
    sshdcommon:
      version: 2.9.2
  repo: keycloak22
  tags:
  - 22.0.5-debian11
  - 22.0-debian11
  - 22-debian11
  - 22.0.5
  - '22.0'
  - '22'
  - latest
- dir: 21/debian11/21.1
  from: marketplace.gcr.io/google/c2d-debian11
  packages:
    h2database:
      version: 1.4.197
    keycloak:
      version: 21.1.2
    sshdcommon:
      version: 2.9.2
  repo: keycloak21
  tags:
  - 21.1.2-debian11
  - 21.1-debian11
  - 21-debian11
  - 21.1.2
  - '21.1'
  - '21'
  - latest
- dir: 21/debian11/21.0
  from: marketplace.gcr.io/google/c2d-debian11
  packages:
    h2database:
      version: 1.4.197
    keycloak:
      version: 21.0.2
    sshdcommon:
      version: 2.9.2
  repo: keycloak21
  tags:
  - 21.0.2-debian11
  - 21.0-debian11
  - 21.0.2
  - '21.0'
- dir: 20/debian11/20.0
  from: marketplace.gcr.io/google/c2d-debian11
  packages:
    h2database:
      version: 1.4.197
    keycloak:
      version: 20.0.5
    sshdcommon:
      version: 2.9.2
  repo: keycloak20
  tags:
  - 20.0.5-debian11
  - 20.0-debian11
  - 20-debian11
  - 20.0.5
  - '20.0'
  - '20'
  - latest
- dir: 19/debian11/19.0
  from: marketplace.gcr.io/google/c2d-debian11
  packages:
    h2database:
      version: 1.4.197
    keycloak:
      version: 19.0.3
    sshdcommon:
      version: 2.9.2
  repo: keycloak19
  tags:
  - 19.0.3-debian11
  - 19.0-debian11
  - 19-debian11
  - 19.0.3
  - '19.0'
  - '19'
  - latest
- dir: 18/debian11/18.0
  from: marketplace.gcr.io/google/c2d-debian11
  packages:
    h2database:
      version: 1.4.197
    keycloak:
      version: 18.0.2
    sshdcommon:
      version: 2.9.2
  repo: keycloak18
  tags:
  - 18.0.2-debian11
  - 18.0-debian11
  - 18-debian11
  - 18.0.2
  - '18.0'
  - '18'
  - latest

