apiVersion: v1
kind: ConfigMap
metadata:
  name: $APP_INSTANCE_NAME-grafana
  labels:
    app.kubernetes.io/name: $APP_INSTANCE_NAME
    app.kubernetes.io/component: grafana-server
data:
  grafana.ini: |
    paths:
      data: /var/lib/grafana/data
      logs: /var/log/grafana
      plugins: /var/lib/grafana/plugins
    analytics:
      check_for_updates: true
    log:
      mode: console
    grafana_net:
      url: https://grafana.net