actions:
- name: Site address should be 200 OK
  httpTest:
    url: http://${EXTERNAL_IP}
    expect:
      statusCode:
        equals: 200
      bodyText:
        html:
          title:
            exactly: 'Web Server Application'
- name: Site address (SSL) should be 200 OK
  bashTest:
    script: |-
      curl -k "https://${EXTERNAL_IP}"
    expect:
      stdout:
        contains: 'Web Server Application'
      exitCode:
        equals: 0
