apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ .Release.Name }}-zk-pdb
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: zookeeper
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
      app.kubernetes.io/component: zookeeper
  maxUnavailable: {{ .Values.zookeeper.maxUnavaliblePod }}
