apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-zk
  labels: &ZookeeperDeploymentLabels
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: zookeeper
spec:
  serviceName: {{ .Release.Name }}-zk-internal
  replicas: {{ .Values.zookeeper.zkReplicas }}
  selector:
    matchLabels: *ZookeeperDeploymentLabels
  podManagementPolicy: "Parallel"
  template:
    metadata:
      labels: *ZookeeperDeploymentLabels
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: "app.kubernetes.io/component"
                    operator: In
                    values:
                    - zookeeper
              topologyKey: "kubernetes.io/hostname"
      containers:
      - name: node
        imagePullPolicy: Always
        image: "{{ .Values.zookeeper.image.name }}:{{ .Values.zookeeper.image.tag }}"
        resources:
          requests:
            memory: {{ .Values.zookeeper.memoryRequest | quote }}
            cpu: {{ .Values.zookeeper.cpuRequest | quote }}
        ports:
        - containerPort: {{ .Values.zookeeper.clientPort }}
          name: client
        - containerPort: {{ .Values.zookeeper.serverPort }}
          name: server
        - containerPort: {{ .Values.zookeeper.electionsPort }}
          name: leader-election
        env:
        - name : ZK_REPLICAS
          value: {{ .Values.zookeeper.zkReplicas | quote }}
        - name : ZK_HEAP_SIZE
          value: {{ .Values.zookeeper.zkHeapSize | quote }}
        - name : ZK_TICK_TIME
          value: {{ .Values.zookeeper.zkTicktime | quote }}
        - name : ZK_MAX_CLIENT_CNXNS
          value: {{ .Values.zookeeper.zkMaxClientCnxns | quote }}
        - name: ZK_SNAP_RETAIN_COUNT
          value: {{ .Values.zookeeper.zkAutopurgeSnapRetainCount | quote }}
        - name: ZK_PURGE_INTERVAL
          value: {{ .Values.zookeeper.zkPurgeInterval | quote }}
        - name: ZK_CLIENT_PORT
          value: {{ .Values.zookeeper.clientPort | quote }}
        - name: ZK_SERVER_PORT
          value: {{ .Values.zookeeper.serverPort | quote }}
        - name: ZK_ELECTION_PORT
          value: {{ .Values.zookeeper.electionsPort | quote }}
        readinessProbe:
          exec:
            command:
            - "zkOk.sh"
          initialDelaySeconds: 10
          timeoutSeconds: 5
        livenessProbe:
          exec:
            command:
            - "zkOk.sh"
        volumeMounts:
        - name: datadir
          mountPath: /opt/zookeeper/data
      - name: exporer
        imagePullPolicy: Always
        image: "{{ .Values.exporter.image.name }}:{{ .Values.exporter.image.tag }}"
        ports:
        - containerPort: {{ .Values.exporter.port }}
          name: metrics
      {{ if .Values.metrics.enabled }}
      - name: prometeus-to-sd
        imagePullPolicy: Always
        image: {{ .Values.metrics.image }}
        command:
            - /monitor
            - --stackdriver-prefix=custom.googleapis.com
            - --source=zookeeper:http://localhost:{{ .Values.exporter.port }}/metrics
            - --pod-id=$(POD_NAME)
            - --namespace-id=$(POD_NAMESPACE)
            - --monitored-resource-types=k8s
        env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
      {{ end }}
      securityContext:
        runAsUser: 1000
        fsGroup: 1000
  volumeClaimTemplates:
  - metadata:
      name: datadir
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: {{ .Values.zookeeper.volumeSize }}
