---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-postgresql-config
  labels: &PostgreSQLLabels
    app.kubernetes.io/name: "{{ .Release.Name }}"
    app.kubernetes.io/component: postgresql-server
data:
  {{- (tpl (.Files.Glob "files/**.conf").AsConfig . ) | nindent 2 }}