mariadb:
  image:
    repo: null
    tag: null
  persistence:
    size: '32Gi'
    storageClass: null

db:
  rootPassword: null
  replicas: 3

  # The image and credentials for mysqld_exporter component.
  exporter:
    image: null
    user: mysqld-exporter
    password: null

metrics:
  image: null
  exporter:
    enabled: false

service:
  port: 3306

tls:
  base64EncodedPrivateKey: null
  base64EncodedCertificate: null
