# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


cloudbuild:
  enable_parallel: false
versions:
- dir: 5/debian11/hazelcast/5.3
  excludeTests:
  - tests/functional_tests/hazelcast_mancenter_test.yaml
  from: marketplace.gcr.io/google/c2d-debian11
  packages:
    hazelcast:
      version: 5.3.2
  repo: hazelcast5
  tags:
  - 5.3.2-debian11
  - 5.3-debian11
  - 5-debian11
  - 5.3.2
  - '5.3'
  - '5'
  - latest
  templateSubDir: hazelcast5
- dir: 5/debian11/hazelcast-mc/5.3
  excludeTests:
  - tests/functional_tests/hazelcast_test.yaml
  from: marketplace.gcr.io/google/c2d-debian11
  packages:
    hazelcastmc:
      version: 5.3.2
  repo: hazelcast-mc5
  tags:
  - 5.3.2
  - '5.3'
  - '5'
  - latest
  templateSubDir: hazelcast-mc5

