---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-mariadb-svc
  labels:
    app.kubernetes.io/name: "{{ .Release.Name }}"
    app.kubernetes.io/component: wordpress-mariadb
spec:
  ports:
  - name: mariadb
    port: 3306
  selector:
    app.kubernetes.io/name: "{{ .Release.Name }}"
    app.kubernetes.io/component: wordpress-mariadb
  clusterIP: None
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-mysqld-exporter-svc
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: wordpress-mariadb
spec:
  ports:
  - name: exporter
    port: 9104
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: wordpress-mariadb
  clusterIP: None
