x-google-marketplace:
  schemaVersion: v2
  applicationApiVersion: v1beta1
  publishedVersion: "$TAG"
  publishedVersionMetadata:
    releaseNote: >-
      Beta release.
    releaseTypes:
      - Beta
    recommended: false
  managedUpdates:
    kalmSupported: false
  images:
    '':
      properties:
        gatekeeper.imageGatekeeperRepo:
          type: REPO_WITH_REGISTRY
        gatekeeper.imageGatekeeperTag:
          type: TAG
  deployerServiceAccount:
    roles:
      - type: ClusterRole        # This is a cluster-wide ClusterRole
        rulesType: CUSTOM        # We specify our own custom RBAC roles
        rules:
          - apiGroups: ['apiextensions.k8s.io', 'rbac.authorization.k8s.io']
            resources: ['customresourcedefinitions', 'clusterroles', 'clusterrolebindings']
            verbs: ['*']
properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE
  gatekeeper.auditInterval:
    title: Audit interval (seconds)
    description: Your Gatekeeper instance will perform an ongoing self-audit at the given interval (in seconds).
    type: integer
    default: 60
    minimum: 1
    maximum: 3600
