x-google-marketplace:
  schemaVersion: v2
  applicationApiVersion: v1beta1
  publishedVersion: "$TAG"
  publishedVersionMetadata:
    releaseNote: >-
      A regular update.
    releaseTypes:
      - Feature
    recommended: false

  images:
    '':
      properties:
        controller.image.repo:
          type: REPO_WITH_REGISTRY
        controller.image.tag:
          type: TAG
    prometheus-to-sd:
      properties:
        metrics.image:
          type: FULL
  clusterConstraints:
    resources:
    - replicas: 1
      requests:
        cpu: 100m
        memory: 300Mi
      affinity:
        simple NodeAffinity:
          type: REQUIRE_ONE_NODE_PER_REPLICA
          minimumNodeCount: 1
    istio:
      type: UNSUPPORTED
properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE
  controller.replicas:
    type: integer
    title: Controller replicas
    description: Number of replicas of the Cert Manager controller
    default: 1
    minimum: 1
  webhook.replicas:
    type: integer
    title: WebHook replicas
    description: Number of replicas of the Cert Manager webhook
    default: 1
    minimum: 1
  cainjector.replicas:
    type: integer
    title: CA Injector replicas
    description: Number of replicas of the Cert Manager CA Injector
    default: 1
    minimum: 1
  controller.serviceAccountName:
    type: string
    title: Service account used by cert-manager Controller
    x-google-marketplace:
      type: SERVICE_ACCOUNT
      serviceAccount:
        roles:
        - type: ClusterRole
          rulesType: CUSTOM
          rules:
            # Issuer controller role
            - apiGroups: ["cert-manager.io"]
              resources: ["issuers", "issuers/status"]
              verbs: ["update"]
            - apiGroups: ["cert-manager.io"]
              resources: ["issuers"]
              verbs: ["get", "list", "watch", "create", "delete"]
            - apiGroups: [""]
              resources: ["secrets"]
              verbs: ["get", "list", "watch", "create", "update", "delete"]
            - apiGroups: [""]
              resources: ["events"]
              verbs: ["create", "patch"]
            # ClusterIssuer controller role
            - apiGroups: ["cert-manager.io"]
              resources: ["clusterissuers", "clusterissuers/status"]
              verbs: ["update"]
            - apiGroups: ["cert-manager.io"]
              resources: ["clusterissuers"]
              verbs: ["get", "list", "watch"]
            - apiGroups: [""]
              resources: ["secrets"]
              verbs: ["get", "list", "watch", "create", "update", "delete"]
            - apiGroups: [""]
              resources: ["events"]
              verbs: ["create", "patch"]
            # Certificates controller role
            - apiGroups: ["cert-manager.io"]
              resources: ["certificates", "certificates/status", "certificaterequests", "certificaterequests/status"]
              verbs: ["update"]
            - apiGroups: ["cert-manager.io"]
              resources: ["certificates", "certificaterequests", "clusterissuers", "issuers"]
              verbs: ["get", "list", "watch", "create", "delete"]
            - apiGroups: ["cert-manager.io"]
              resources: ["certificates/finalizers", "certificaterequests/finalizers"]
              verbs: ["update"]
            - apiGroups: ["acme.cert-manager.io"]
              resources: ["orders"]
              verbs: ["create", "delete", "get", "list", "watch"]
            - apiGroups: [""]
              resources: ["secrets"]
              verbs: ["get", "list", "watch", "create", "update", "delete"]
            - apiGroups: [""]
              resources: ["events"]
              verbs: ["create", "patch"]
            # Orders controller role
            - apiGroups: ["acme.cert-manager.io"]
              resources: ["orders", "orders/status"]
              verbs: ["update"]
            - apiGroups: ["acme.cert-manager.io"]
              resources: ["orders", "challenges"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["cert-manager.io"]
              resources: ["clusterissuers", "issuers"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["acme.cert-manager.io"]
              resources: ["challenges"]
              verbs: ["create", "delete"]
            - apiGroups: ["acme.cert-manager.io"]
              resources: ["orders/finalizers"]
              verbs: ["update"]
            - apiGroups: [""]
              resources: ["secrets"]
              verbs: ["get", "list", "watch"]
            - apiGroups: [""]
              resources: ["events"]
              verbs: ["create", "patch"]
            # Challenges controller role
            - apiGroups: ["acme.cert-manager.io"]
              resources: ["challenges", "challenges/status"]
              verbs: ["update"]
            - apiGroups: ["acme.cert-manager.io"]
              resources: ["challenges"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["cert-manager.io"]
              resources: ["issuers", "clusterissuers"]
              verbs: ["get", "list", "watch"]
            - apiGroups: [""]
              resources: ["secrets"]
              verbs: ["get", "list", "watch"]
            - apiGroups: [""]
              resources: ["events"]
              verbs: ["create", "patch"]
            - apiGroups: [""]
              resources: ["pods", "services"]
              verbs: ["get", "list", "watch", "create", "delete"]
            - apiGroups: ["extensions"]
              resources: ["ingresses"]
              verbs: ["get", "list", "watch", "create", "delete", "update"]
            - apiGroups: ["acme.cert-manager.io"]
              resources: ["challenges/finalizers"]
              verbs: ["update"]
            - apiGroups: [""]
              resources: ["secrets"]
              verbs: ["get", "list", "watch"]
            # ingress-shim controller role
            - apiGroups: ["cert-manager.io"]
              resources: ["certificates", "certificaterequests"]
              verbs: ["create", "update", "delete"]
            - apiGroups: ["cert-manager.io"]
              resources: ["certificates", "certificaterequests", "issuers", "clusterissuers"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["extensions"]
              resources: ["ingresses"]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["extensions"]
              resources: ["ingresses/finalizers"]
              verbs: ["update"]
            - apiGroups: [""]
              resources: ["events"]
              verbs: ["create", "patch"]
            - apiGroups: [""]
              resources: ["configmaps"]
              verbs: ["get", "create", "update", "patch"]
  webhook.serviceAccountName:
    type: string
    title: Service account used by cert-manager Web hook
    x-google-marketplace:
      type: SERVICE_ACCOUNT
      serviceAccount:
        roles:
        - type: ClusterRole
          rulesType: CUSTOM
          rules:
            - apiGroups:
              - admission.cert-manager.io
              resources:
              - certificates
              - certificaterequests
              - issuers
              - clusterissuers
              verbs:
              - create
  cainjector.serviceAccountName:
    type: string
    title: Service account used by cert-manager CA Injector
    x-google-marketplace:
      type: SERVICE_ACCOUNT
      serviceAccount:
        roles:
        - type: ClusterRole
          rulesType: CUSTOM
          rules:
            - apiGroups: ["cert-manager.io"]
              resources: ["certificates"]
              verbs: ["get", "list", "watch"]
            - apiGroups: [""]
              resources: ["secrets"]
              verbs: ["get", "list", "watch"]
            - apiGroups: [""]
              resources: ["events"]
              verbs: ["get", "create", "update", "patch"]
            - apiGroups: ["admissionregistration.k8s.io"]
              resources: ["validatingwebhookconfigurations", "mutatingwebhookconfigurations"]
              verbs: ["get", "list", "watch", "update"]
            - apiGroups: ["apiregistration.k8s.io"]
              resources: ["apiservices"]
              verbs: ["get", "list", "watch", "update"]
            - apiGroups: ["apiextensions.k8s.io"]
              resources: ["customresourcedefinitions"]
              verbs: ["get", "list", "watch", "update"]
            - apiGroups: [""]
              resources: ["configmaps"]
              verbs: ["get", "create", "update", "patch"]
  CDRJobServiceAccount:
    type: string
    title: Service account used by CRDs deployer
    x-google-marketplace:
      type: SERVICE_ACCOUNT
      serviceAccount:
        roles:
        - type: ClusterRole
          rulesType: CUSTOM
          rules:
            - apiGroups: ["apiextensions.k8s.io"]
              resources: ["customresourcedefinitions"]
              verbs: ["get","list","create","update","patch"]
            - apiGroups: ["admissionregistration.k8s.io"]
              resources: ["validatingwebhookconfigurations", "mutatingwebhookconfigurations"]
              verbs: ["get","list","create","update","patch"]
            - apiGroups: ["app.k8s.io"]
              resources: ["applications"]
              verbs: ["get","list","patch"]
  deployer.image:
    type: string
    x-google-marketplace:
      type: DEPLOYER_IMAGE
  metrics.exporter.enabled:
    type: boolean
    title: Enable Cloud Monitoring for metrics
    description: Your Google Cloud Marketplace project must have Cloud Monitoring enabled. For non-Google Cloud clusters,
      export of metrics to Cloud Monitoring is not currently supported.
    default: false

required:
- name
- namespace
- controller.replicas
- webhook.replicas
- cainjector.replicas
- metrics.exporter.enabled
