# Copyright 2022 Google LLC
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.


cloudbuild:
  enable_parallel: false
versions:
- dir: 1/debian9/1.37
  from: marketplace.gcr.io/google/php7-apache2:7.3
  packages:
    composer:
      sha256: 48f9fdc9ad93904fee96550b45ae03a51f69718502ee855da894b4ad71d2dfe0
      version: 2.2.9
    mediawiki:
      major: '1.37'
      sha512: 9a8a1be9b0a9ffa506226c8e74cbd817a5ea39f404cf5931530896e5d831e57b7b56ff44d775c00dae88be16f01c9a12bf7d10d25c055674d8de4376d7d9c942
      version: 1.37.1
  repo: mediawiki1-php7-apache
  tags:
  - 1.37.1-debian9
  - 1.37-debian9
  - 1-debian9
  - 1.37.1
  - '1.37'
  - '1'
  - latest
- dir: 1/debian9/1.36
  from: marketplace.gcr.io/google/php7-apache2:7.3
  packages:
    composer:
      sha256: 48f9fdc9ad93904fee96550b45ae03a51f69718502ee855da894b4ad71d2dfe0
      version: 2.2.9
    mediawiki:
      major: '1.36'
      sha512: 91a56cc7eb132e68dcb8ebeef9dea8f874ac3751c707ecdc6633b3d03a7f7a519eeb35d9422fab86af3cd917071fab01c776d57c934bfc72b349b8963f7c22a8
      version: 1.36.3
  repo: mediawiki1-php7-apache
  tags:
  - 1.36.3-debian9
  - 1.36-debian9
  - 1.36.3
  - '1.36'

