apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: "{{ .Release.Name }}"
  annotations:
    kubernetes-engine.cloud.google.com/icon: >-
      data:image/png;base64,{{ .Files.Get "logo.png" | b64enc }}
    marketplace.cloud.google.com/deploy-info: '{"partner_id": "click-to-deploy-containers", "product_id": "superset", "partner_name": "Google Click to Deploy"}'
  labels:
    app.kubernetes.io/name: "{{ .Release.Name }}"
spec:
  descriptor:
    type: superset
    version: "{{ .Values.superset.image.tag }}"
    description: |-
      Apache Superset is a modern, enterprise-ready business intelligence web application. It is fast, lightweight, intuitive,
      and loaded with options that make it easy for users of all skill sets to explore and visualize their data,
      from simple pie charts to highly detailed deck.gl geospatial charts.

      # Support
      Google does not offer support for this solution. However, community support is available on https://superset.apache.org/docs/intro
      
      Additional community support is available on [community forums](https://stackoverflow.com/questions/tagged/superset+apache-superset).
    maintainers:
    - name: Google Click to Deploy
      url: https://cloud.google.com/solutions/#click-to-deploy
    links:
    - description: 'User Guide: Google Click to Deploy superset'
      url: https://github.com/GoogleCloudPlatform/click-to-deploy/blob/master/k8s/superset/README.md
    - description: 'superset: Installing from scratch'
      url: https://superset.apache.org/docs/installation/installing-superset-from-scratch
    notes: |-
      # Access superset

      superset is exposed in a ClusterIP-only service `{{.Release.Name}}-superset-svc`. To connect to
      superset UI, you can either expose a public service endpoint or keep it private, but connect
      from you local environment with `kubectl port-forward`

      ```
      kubectl port-forward \
        --namespace {{ .Release.Namespace }} \
        svc/{{.Release.Name}}-superset-svc \
        8088:8088
      ```

      Then, navigate to the [http://localhost:8088](http://localhost:8088) endpoint.
  info:
  - name: Temporary password for user admin
    type: Reference
    valueFrom:
      secretKeyRef:
        key: superset-password
        name: {{ .Release.Name }}-superset-secret
  - name: Application Namespace
    value: {{ .Release.Namespace }}
  - name: Default login for web console
    value: "admin"
  - name: Default password for web console
    value: "admin"
  selector:
    matchLabels:
      app.kubernetes.io/name: "{{ .Release.Name }}"
  componentKinds:
  - group: apps/v1
    kind: StatefulSet    
  - group: v1
    kind: PersistentVolumeClaim
  - group: v1
    kind: Secret
  - group: v1
    kind: Service
  - group: v1
    kind: ServiceAccount
  - group: apps/v1
    kind: ConfigMap
