---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-redis-secret
  labels:
    app.kubernetes.io/name: "{{ .Release.Name }}"
    app.kubernetes.io/component: superset-redis
type: Opaque
data:
  password: "{{ .Values.redis.password | b64enc }}"
