x-google-marketplace:
  schemaVersion: v2

  applicationApiVersion: v1beta1

  publishedVersion: "$TAG"
  publishedVersionMetadata:
    releaseNote: >-
      A regular update.
    releaseTypes:
      - Feature
    recommended: false

  images:
    '':
      properties:
        image.repo:
          type: REPO_WITH_REGISTRY
        image.tag:
          type: TAG

  clusterConstraints:
    resources:
      - replicas: 1
        requests:
          cpu: 10m
          memory: 130Mi
    istio:
      type: OPTIONAL

properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE
  persistence.storageClass:
    type: string
    title: StorageClass
    description: You can choose an existing StorageClass or create a new one.
    x-google-marketplace:
      type: STORAGE_CLASS
      storageClass:
        type: SSD
  persistence.size:
    type: string
    title: Storage size for persistent volumes
    default: "5Gi"
    description: ActiveMQ storage size
    pattern: '^[1-9][0-9]*(\.[0-9]+)?[TGM]i?$'
  consolePassword:
    type: string
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 10
        includeSymbols: False
        base64: False

required:
- name
- namespace
- persistence.size
- consolePassword
