properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE
  rabbitmq.replicas:
    type: integer
    title: Replicas
    description: The number of Pod replicas
    default: 3
    minimum: 1
    maximum: 11
  rabbitmq.erlangCookie:
    type: string
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 32
  rabbitmq.user:
    # TODO(wgrzelak): define pattern
    type: string
    title: RabbitMQ username
    description: Username to be used for connecting to RabbitMQ
    default: rabbit
  rabbitmq.password:
    type: string
    x-google-marketplace:
      type: GENERATED_PASSWORD
      generatedPassword:
        length: 12
  rabbitmq.serviceAccount:
    type: string
    title: RabbitMQ service account
    description: >-
      Service account to assign to RabbitMQ StatefulSet.
      It should have ability to query endpoints in the same namespace
    x-google-marketplace:
      type: SERVICE_ACCOUNT
      serviceAccount:
        roles:
        - type: Role
          rulesType: CUSTOM
          rules:
          - apiGroups: ['']
            resources: [endpoints]
            verbs: [get]
  metrics.enabled:
    type: boolean
    title: Enable Stackdriver Metrics Exporter
    description: Your GCP project should have Stackdriver enabled. For non-GCP clusters,
      export of metrics to Stackdriver is not supported yet
    default: false
required:
- name
- namespace
- rabbitmq.replicas
- rabbitmq.erlangCookie
- rabbitmq.user
- rabbitmq.password
- rabbitmq.serviceAccount
- metrics.enabled
x-google-marketplace:
  images:
    ? ''
    : properties:
        rabbitmq.image:
          type: FULL
    prometheus-to-sd:
      properties:
        metrics.image:
          type: FULL
    debian9:
      properties:
        rabbitmq.initImage:
          type: FULL
  publishedVersionMetadata:
    releaseNote: A regular update.
    recommended: false
    releaseTypes:
    - Feature
  applicationApiVersion: v1beta1
  managedUpdates:
    kalmSupported: true
  schemaVersion: v2
  publishedVersion: $TAG
