apiVersion: v1
kind: Secret
metadata:
  name: $APP_INSTANCE_NAME-rabbitmq-secret
  labels:
    app.kubernetes.io/name: $APP_INSTANCE_NAME
    app.kubernetes.io/component: rabbitmq-server
type: Opaque
data:
  # this value comes from schema.yaml or environment variable
  rabbitmq-erlang-cookie: "$RABBITMQ_ERLANG_COOKIE"
  rabbitmq-pass: "$RABBITMQ_DEFAULT_PASS"
