---
apiVersion: v1
kind: Service
metadata:
  name: "{{ regexReplaceAll "^neo4j-" .Release.Name "neo4j" }}-neo4j-svc"
  labels:
    app.kubernetes.io/name: "{{ .Release.Name }}"
    app.kubernetes.io/component: "neo4j-ce"
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: "{{ .Release.Name }}"
    app.kubernetes.io/component: "neo4j-ce"
  ports:
  - name: browser
    port: 7474
  - name: bolt
    port: 7687
