# Copyright 2022 Google LLC
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.


cloudbuild:
  enable_parallel: false
versions:
- dir: 9/php7/debian9/9.3/apache
  from: marketplace.gcr.io/google/php7-apache2:7.3
  packages:
    composer:
      gpg: 1f210b9037fcf82670d75892dfc44400f13fe9ada7af9e787f93e50e3b764111
      version: 1.9.1
    drupal:
      md5: 6160714e2df873d413ca341d192891ae
      version: 9.3.4
  repo: drupal9-php7-apache
  tags:
  - 9.3.4-debian9
  - 9.3-debian9
  - 9-debian9
  - 9.3.4
  - '9.3'
  - '9'
  - latest
- dir: 9/php7/debian9/9.2/apache
  from: marketplace.gcr.io/google/php7-apache2:7.3
  packages:
    composer:
      gpg: 1f210b9037fcf82670d75892dfc44400f13fe9ada7af9e787f93e50e3b764111
      version: 1.9.1
    drupal:
      md5: 13647faa6fdc286ff753b4a0c785db01
      version: 9.2.11
  repo: drupal9-php7-apache
  tags:
  - 9.2.11-debian9
  - 9.2-debian9
  - 9.2.11
  - '9.2'
- dir: 8/php7/debian9/8.9/apache
  from: marketplace.gcr.io/google/php7-apache2:7.3
  packages:
    composer:
      gpg: 1f210b9037fcf82670d75892dfc44400f13fe9ada7af9e787f93e50e3b764111
      version: 1.9.1
    drupal:
      md5: 03c77251b7332bf7e194b9702b077dd2
      version: 8.9.20
  repo: drupal8-php7-apache
  tags:
  - 8.9.20-debian9
  - 8.9-debian9
  - 8-debian9
  - 8.9.20
  - '8.9'
  - '8'
  - latest

