# Copyright 2020 Google LLC
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.


cloudbuild:
  enable_parallel: false
versions:
- dir: 9/php7/debian9/9.1/apache
  from: marketplace.gcr.io/google/php7-apache2:7.3
  packages:
    composer:
      gpg: 1f210b9037fcf82670d75892dfc44400f13fe9ada7af9e787f93e50e3b764111
      version: 1.9.1
    drupal:
      md5: 821b13b321bd08e80a151318a8856445
      version: 9.1.0
  repo: drupal9-php7-apache
  tags:
  - 9.1.0-debian9
  - 9.1-debian9
  - 9-debian9
  - 9.1.0
  - '9.1'
  - '9'
  - latest
- dir: 8/php7/debian9/8.9/apache
  from: marketplace.gcr.io/google/php7-apache2:7.3
  packages:
    composer:
      gpg: 1f210b9037fcf82670d75892dfc44400f13fe9ada7af9e787f93e50e3b764111
      version: 1.9.1
    drupal:
      md5: c62224855c4c30e2970e9b1ef32bc53b
      version: 8.9.11
  repo: drupal8-php7-apache
  tags:
  - 8.9.11-debian9
  - 8.9-debian9
  - 8-debian9
  - 8.9.11
  - '8.9'
  - '8'
  - latest
- dir: 8/php7/debian9/8.8/apache
  from: marketplace.gcr.io/google/php7-apache2:7.3
  packages:
    composer:
      gpg: 1f210b9037fcf82670d75892dfc44400f13fe9ada7af9e787f93e50e3b764111
      version: 1.9.1
    drupal:
      md5: 0ec8f449353645f0401a73494f3f32a7
      version: 8.8.12
  repo: drupal8-php7-apache
  tags:
  - 8.8.12-debian9
  - 8.8-debian9
  - 8.8.12
  - '8.8'

