apiVersion: v1
kind: Secret
metadata:
  name: $APP_INSTANCE_NAME-influxdb-secret
  labels:
    app.kubernetes.io/name: $APP_INSTANCE_NAME
    app.kubernetes.io/component: influxdb-server
stringData:
  influxdb-admin: $INFLUXDB_ADMIN_USER
data:
  influxdb-pass: $INFLUXDB_ADMIN_PASSWORD
