actions:
- name: Wait until InfluxDB is ready
  bashTest:
    script: |-
      kubectl wait --namespace=${NAMESPACE} --for=condition=Ready --timeout=180s pod/${APP_INSTANCE_NAME}-influxdb-0
    expect:
      exitCode:
        equals: 0
- name: InfluxDB URL should be 204 No Content
  httpTest:
    url: http://${APP_INSTANCE_NAME}-influxdb-svc:8086/ping
    expect:
      statusCode:
        equals: 204
- name: Can create a database
  bashTest:
    script: |-
      curl "http://${APP_INSTANCE_NAME}-influxdb-svc:8086/query?u=${INFLUXDB_ADMIN_USER}&p=${INFLUXDB_ADMIN_PASSWORD}" --data-urlencode "q=CREATE DATABASE NOAA_water_database_1"
    expect:
      stdout:
        contains: '{"results":[{"statement_id":0}]}'
      exitCode:
        equals: 0
- name: Can read a database
  bashTest:
    script: |-
      curl "http://${APP_INSTANCE_NAME}-influxdb-svc:8086/query?u=${INFLUXDB_ADMIN_USER}&p=${INFLUXDB_ADMIN_PASSWORD}" --data-urlencode "q=SHOW DATABASES"
    expect:
      stdout:
        contains: 'NOAA_water_database_1'
      exitCode:
        equals: 0
#- name: Can not create a database with incorrect credentials
#  bashTest:
#    script: |-
#      curl "http://${APP_INSTANCE_NAME}-influxdb-svc:8086/query?u=root&p=password" --data-urlencode "q=CREATE DATABASE NOAA_water_database_2"
#    expect:
#      stdout:
#        contains: '{"error":"authorization failed"}'
#- name: Can not read a database with incorrect credentials
#  bashTest:
#    script: |-
#      curl "http://${APP_INSTANCE_NAME}-influxdb-svc:8086/query?u=root&p=password" --data-urlencode "q=SHOW DATABASES"
#    expect:
#      stdout:
#        contains: '{"error":"authorization failed"}'
