apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-mariadb
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: mariadb-server
stringData:
  mariadb-replication-user: {{ .Values.replication.user }}
  mariadb-replication.sql: |
    CREATE USER IF NOT EXISTS '{{ .Values.replication.user }}'@'%' IDENTIFIED BY '{{ .Values.replication.password | b64dec }}' WITH MAX_USER_CONNECTIONS {{ .Values.replication.maxConnections }};
    GRANT REPLICATION SLAVE ON *.* TO '{{ .Values.replication.user }}'@'%' REQUIRE SSL;
    FLUSH PRIVILEGES;
  mysqld_exporter.sql: |
    CREATE USER IF NOT EXISTS '{{ .Values.db.exporter.user }}'@'127.0.0.1' IDENTIFIED BY '{{ .Values.db.exporter.password | b64dec }}' WITH MAX_USER_CONNECTIONS 3;
    # https://dev.mysql.com/doc/refman/5.6/en/grant.html
    GRANT PROCESS, REPLICATION CLIENT, SELECT ON *.* TO '{{ .Values.db.exporter.user }}'@'127.0.0.1';
    FLUSH PRIVILEGES;
data:
  mariadb-pass: {{ .Values.db.password }}
  mariadb-replication-password: {{ .Values.replication.password }}
  mysqld-exporter-pass: {{ .Values.db.exporter.password }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-tls
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: mariadb-server
data:
  tls.key: |
{{ .Values.tls.base64EncodedPrivateKey | indent 4 }}
  tls.crt: |
{{ .Values.tls.base64EncodedCertificate | indent 4 }}
  ca.crt: |
{{ .Values.tls.base64EncodedCertificate | indent 4 }}
---
