
{{ if .Values.metrics.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-sonarqube-metrics-exporter
  labels: &SonarqubeDeploymentLabels
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: influxdb-metrics-exporter
spec:
  selector:
    matchLabels: *SonarqubeDeploymentLabels
  replicas: 1
  template:
    metadata:
      labels: *SonarqubeDeploymentLabels
    spec:
      containers:
      - name: prometheus-to-sd
        image: {{ .Values.metrics.image }}
        ports:
        - name: profiler
          containerPort: 6060
        command:
        - /monitor
        - --stackdriver-prefix=custom.googleapis.com
        - --source={{ .Release.Name }}:http://{{.Release.Name}}-{{ .Values.sonarqube.service.name}}:9000/api/prometheus/metrics
        - --pod-id=$(POD_NAME)
        - --namespace-id=$(POD_NAMESPACE)
        - --scrape-interval=5s
        - --export-interval=30s
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
{{ end }}