apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-influxdb-secret
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/component: influxdb-server
data:
  influxdb-pass: {{ .Values.admin.password | b64enc | quote }}
  influxdb-admin: {{ .Values.admin.user | b64enc | quote }}
  influxdb-api-token: {{ .Values.admin.apiToken | b64enc | quote }}
