x-google-marketplace:

  clusterConstraints:
    resources:
      - replicas: 3
        requests:
          cpu: 500m
          memory: 4Gi
        affinity:
          simpleNodeAffinity:
            type: REQUIRE_ONE_NODE_PER_REPLICA

  applicationApiVersion: v1beta1

  publishedVersion: "$TAG"
  publishedVersionMetadata:
    releaseNote: >-
      A regular update.
    releaseTypes:
      - Feature
    recommended: false

  managedUpdates:
    kalmSupported: true

  images:
    '':
      properties:
        cassandra.image.repo:
          type: REPO_WITH_REGISTRY
        cassandra.image.tag:
          type: TAG
    prometheus-to-sd:
      properties:
        metrics.image:
          type: FULL

properties:
  name:
    type: string
    x-google-marketplace:
      type: NAME
  namespace:
    type: string
    x-google-marketplace:
      type: NAMESPACE
  cassandra.replicas:
    type: integer
    title: Replicas
    description: The number of Pod replicas
    default: 3
    minimum: 3
    maximum: 11
  metrics.enabled:
    type: boolean
    title: Enable Stackdriver Metrics Exporter
    description: Your GCP project should have Stackdriver enabled. For non-GCP clusters,
      export of metrics to Stackdriver is not supported yet
    default: false

required:
- name
- namespace
- cassandra.replicas
- metrics.enabled
