airflow:
  image:
    repo: null
    tag: null
  admin:
    password: null
    email: null

scheduler:
  replicas: 1

web:
  replicas: 1

triggerer:
  replicas: 1

nfs:
  image:
    repo: null
    tag: null
  persistence:
    storageClass: null
    size: 5Gi

metrics:
  image: null
  exporter:
    enabled: false

enablePublicServiceAndIngress: false

postgresql:
  image:
    repo: null
    tag: null
  persistence:
    storageClass: standard
    size: 5Gi
